footer {
    background-color: #161617;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 3em 0 1em 0;
}

.sim-web-ul {
    margin: 0;
    list-style-type: none;
}

.head {
    font-size: 1.2em;
    color: #2699fb;
}

.sim-web-ul>li {
    padding-left: 1em;
}

.sim-web-ul>li>a {
    text-decoration: none;
    color: white;
    line-height: 1.8em;
}

.sim-web-ul>li>a:hover {
    color: #2699fb;
    transition: .3s;
}

.sug-div-parent {
    margin-right: 40px;
}

.sug-div {
    padding-left: 1em;
}

.sug-div>p {
    margin: 0;
    line-height: 1.8em;
}

.sug-div>textarea {
    background-color: #161617;
    color: #2699fb;
    border-radius: 5px;
    border: 1px solid #2699fb;
}

.sug-btn {
    border: 1px solid #2699fb;
    width: 10em;
    height: 3em;
    background-color: #161617;
    color: #2699fb;
    cursor: pointer;
    border-radius: 5px;
}

.sug-btn:hover {
    transition: .5s;
    background-color: #2699fb;
    color:#161617;
}