.underline {
  text-decoration: underline;
}

.col-yellow {
  color: yellow;
}

.col-blue {
  color: #2699fb;
}

.col-white {
  color: white;
}

.anchor {
  color: #2699fb;
  text-decoration: none;
}

.anchor:hover {
  text-decoration: underline;
}