body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #27292d;
}

.main-card {
    width: 400px;
    height: 500px;
    background-color: #161617;
    color: white;
    margin: 5em;
    border: 2px solid gray;
    border-radius: 20px;
    padding: 2em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sign-a {
    text-decoration: none;
    color: #2699fb;
}

.sign-a:hover {
    text-decoration: underline;
}

form {
    width: 100%;
}

.text-inp-labl {
    margin-top: 1em;
    margin-bottom: 1px;
}

#login, #pass {
    width: 94%;
    height: 1em;
    border-radius: 5px;
    margin-bottom: 2em;
    background-color: #27292d;
    color: #2699fb;
    padding-left: 1.5em;
    padding-top: 1.3em;
    padding-bottom: 1.3em;
}

#pass {
    width: 85%;
}

.toggle-password {
    cursor: pointer;
    margin-left: 10px;
    font-size: larger;
}

#RemMe {
    margin-bottom: 1.5em;
    cursor: pointer;
}

.login-btn {
    width: 100%;
    padding: 1.3em;
    color: white;
    background-color: black;
    border: 1px solid gray;
    border-radius: 5px;
    cursor:pointer;
}

